/*Font Family*/
body {
    font-family: 'Fira Sans', sans-serif;
}

/*Routes page transition*/
.page-enter-active, .page-leave-active {
    transition: all 1s;
}
.page-enter, .page-leave-active {
    opacity: 0;
    transform: scale(0);
}

form .field {
    margin-bottom:25px !important;
}

form .checkbox {
    margin-right:18px;
}

.subtitlecustom1 {
    font-weight: bolder;
    font-size: 25px;
}